html {
    scroll-behavior: smooth;
}

body {
    display: flex;
}


.portfolio-site {
    background-color: bisque;
}

.sidebar {
    background-color: #e47c91;
}
.portfolio-site {
    max-width: 800px;
}

  
.main-content {
    /* padding: 20px; */
}
  
section {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}


  