
.header-div {
    background-color: rgb(127, 255, 212);
    display: flex;
    width: 100vw;
    padding: 1px 10px 10px 40px;
}

.hamburger-icon {
    border: none;
    background: none;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.hamburger-icon:hover {
    text-shadow: 0px 0px 4px;
}

h1 {
    margin-left: 100px;
}

.nav-bar {
    padding: 0px 20px;
    background-color: rgba(0, 149, 99, 0.85);
    position: absolute;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
}

.nav-bar.open {
    padding: 10px 20px;
    opacity: 1.0;
    max-height: 250px; /* Ensure all content is visible */
}

.nav-bar a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
}

.nav-bar a:hover {
    color: #000;
}