/* themes.css */
:root {
    --text-color: #0f172a;
    --background-color: #ffffff;
    --header-bg-color: #f6f6fa;
    --highlight-color: #ff2056;
    --shadow-color: #ff2056;
    --shadow-stlye: none;
    --hamburger-color: var(--text-color);
    --hamburger-hover: #ff2056;
    --footer-color: #1e1e1e;
    --footer-text: #ffffff;
}

.light-theme {
    --text-color: #0f172a;
    --background-color: #ffffff;
    --header-bg-color: #f6f6fa;
    --highlight-color: #ff2056;
    --shadow-color: #ff2056;
    --shadow-stlye: none;
    --hamburger-color: var(--text-color);
    --hamburger-hover: #ff2056;
    --footer-color: #1e1e1e;
    --footer-text: #ffffff;
}

.dark-theme {
    --text-color: #ffffff;
    --background-color: #0f172a;
    --header-bg-color: #111e3f;
    --highlight-color: #58ddc8;
    --shadow-color: #ffffff;
    --shadow-stlye: 0px 0px 4px var(--shadow-color);
    --hamburger-color: #ff2056;
    --hamburger-hover: #ff2056;
    --footer-color: #1e1e1e;
    --footer-text: #ffffff;
}

.neon-theme {
    --text-color: #ff00b7;
    --background-color: #000000;
    --header-bg-color: #000000;
    --highlight-color: #fdff43;
    --shadow-color: #ffffff;
    --shadow-stlye: 0px 0px 4px var(--shadow-color);
    --hamburger-color: #ff2056;
    --hamburger-hover: #ff2056;
    --footer-color: #1e1e1e;
    --footer-text: #ffffff;
}
