/* themes.css */
:root {
    --text-color: #ffffff;
    --text-color2: #d5d5d5;
    --background-color: #0f172a;
    --header-bg-color: #111e3f;
    --highlight-color: #58ddc8;
    --shadow-color: #58ddc8;
    --shadow-stlye: 0px 0px 4px var(--shadow-color);
    --hamburger-color: var(--text-color);
    --hamburger-hover: #58ddc8;
    --footer-color: #111e3f;
    --footer-text: #ffffff;
    --neon-shadow: none;
    --heading-margin: 5px 0px 5px 0px;
    --page-width: 1080px;
}

.light-theme {
    --text-color: #0f172a;
    --text-color2: #0f172a;
    --link-color: var(--highlight-color);
    --background-color: #ffffff;
    --header-bg-color: #f6f6fa;
    --highlight-color: #ff2056;
    --shadow-color: #ff2056;
    --shadow-stlye: none;
    --hamburger-color: var(--text-color);
    --hamburger-hover: #ff2056;
    --footer-color: #1e1e1e;
    --footer-text: #b3b3b6;
    --neon-shadow: none;
    --div-hover-bg: rgba(0, 0, 0, 0.05);
    --div-hover-border-radius: 10px;
    --div-hover-box-shadow: none; 
}

.dark-theme {
    --text-color: #ffffff;
    --text-color2: #d5d5d5;
    --link-color: var(--highlight-color);
    --background-color: #0f172a;
    --header-bg-color: #111e3f;
    --highlight-color: #58ddc8;
    --shadow-color: #58ddc8;
    --shadow-stlye: 0px 0px 4px var(--shadow-color);
    --hamburger-color: var(--text-color);
    --hamburger-hover: #58ddc8;
    --footer-color: #111e3f;
    --footer-text: #ffffff;
    --neon-shadow: none;
    --div-hover-bg: rgba(240, 255, 255, 0.05);
    --div-hover-border-radius: 10px;
    --div-hover-box-shadow: 
        0px -1px 3px rgba(255, 255, 255, 0.2), 
        0px 1px 3px rgba(0, 0, 0, 0.2); 
}

.neon-theme {
    --text-color: #ff00b7;
    --text-color2: var(--text-color);
    --link-color: var(--highlight-color);
    --background-color: #000000;
    --header-bg-color: #101010;
    --header-highlight: 0px 0px 20px var(--text-color);
    --link-highlight: none;
    --highlight-color: #00fbff;
    --shadow-color: #ffffff;
    --shadow-stlye: 0px 0px 20px var(--text-color);
    --neon-highlight: 0px 0px 20px var(--highlight-color);
    --neon-shadow: 0px 0px 20px var(--highlight-color);
    --hamburger-color: var(--text-color);
    --hamburger-hover: var(--text-color);
    --footer-color: #000000;
    --footer-text: #81005c;
    --div-hover-bg: rgba(240, 255, 255, 0.05);
    --div-hover-border-radius: 10px;
    --div-hover-box-shadow: 
        0px -1px 3px rgba(255, 255, 255, 0.2), 
        0px 1px 3px rgba(0, 0, 0, 0.2); 
}
